* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #F5F5F5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: #000000;
}

p {
  margin-bottom: 1rem;
  color: #000000;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.form-control {
  margin-bottom: 1rem;
}

/* Log In Page */

.login-ctn,
.register-ctn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 80%;
  max-width: 1000px;
}

.home-title{
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

form {
  width: 60%;
  color: #000000;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

form button:hover {
  background-color: #0056b3;
}

.info-txt {
  color: #000000;
}

.info-txt2 {
  font-weight: normal;
  transition: font-weight 0.3s ease;
}

.info-txt2:hover {
  font-weight: bold;
  text-decoration: none;
}

/* Register */

/* Media Queries for Tablet */
@media (max-width: 768px) {
  .login-ctn, .register-ctn {
    padding: 20px;
    width: 90%;
    height: fit-content;
  }

  form {
    width: 100%;
  }
}

/* Media Queries for Mobile */
@media (max-width: 576px) {
  .login-ctn, .register-ctn {
    padding: 10px;
    width: 90%;
  }

  form {
    width: 100%;
  }
}